<div class="filters d-none d-md-block bg-light">
  <!-- Filters content here -->
  <div class="filter">
    <div><a href="/products?filter=Statues" style="text-decoration: none; color: black;">Statues <i class="fa-solid fa-monument"></i></a></div>
  </div>
  <div class="filter">
    <div><a href="/products?filter=WallArts" style="text-decoration: none; color: black;">Wall arts <i class="fas fa-object-group"></i></a></div>
  </div>
  <div class="filter">
    <div><a href="/products?filter=CrystalGlass" style="text-decoration: none; color: black;">Crystal Glass <i class="fa-solid fa-diamond"></i></a></div>
  </div>
  <div class="filter">
    <div><a href="/products?filter=Utensils" style="text-decoration: none; color: black;">Stell and Copper Utensils <i class="fa-solid fa-utensils"></i></a></div>
  </div>
  <div class="filter">
    <div><a href="/products?filter=AntiqueItems" style="text-decoration: none; color: black;">Antique Items <i class="fa-sharp fa-solid fa-scroll"></i></a></div>
  </div>
  <div class="filter">
    <div><a href="/products?filter=DecorativeItems" style="text-decoration: none; color: black;">Decorative Items <i class="fa-solid fa-crown"></i></a></div>
  </div>
  <div class="filter">
    <div><a href="/products?filter=Crockery" style="text-decoration: none; color: black;">Crockery <i class="fas fa-coffee"></i></a></div>
  </div>
  <div class="filter">
    <div><a href="/products?filter=RelegiousUtensils" style="text-decoration: none; color: black;">Relegious Utensils <i class="fa-solid fa-om"></i></a></div>
  </div>
  <div class="filter">
    <div><a href="/products?filter=Diya" style="text-decoration: none; color: black;">Diya <i class="fa-solid fa-fire-burner"></i></a></div>
  </div>
</div>
<div class="d-block d-md-none">
  <br /><br />
  <button
    class="btn btn-outline-light mb-3"
    style="color: purple; border-color: purple"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasFilters"
    aria-controls="offcanvasFilters"
  >
    Filters
  </button>
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasFilters"
    aria-labelledby="offcanvasFiltersLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasFiltersLabel">Filters</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <!-- Filters content for offcanvas here -->
      <div class="filter">
        <div><a href="/products?filter=Statues" style="text-decoration: none; color: black;">Statues <i class="fa-solid fa-monument"></i></a></div>
      </div>
      <div class="filter">
        <div><a href="/products?filter=WallArts" style="text-decoration: none; color: black;">Wall arts <i class="fas fa-object-group"></i></a></div>
      </div>
      <div class="filter">
        <div><a href="/products?filter=CrystalGlass" style="text-decoration: none; color: black;">Crystal Glass <i class="fa-solid fa-diamond"></i></a></div>
      </div>
      <div class="filter">
        <div>
          <a href="/products?filter=Utensils" style="text-decoration: none; color: black;">Stell and Copper Utensils <i class="fa-solid fa-utensils"></i></a></i>
        </div>
      </div>
      <div class="filter">
        <div><a href="/products?filter=AntiqueItems" style="text-decoration: none; color: black;">Antique Items <i class="fa-sharp fa-solid fa-scroll"></i></a></div>
      </div>
      <div class="filter">
        <div><a href="/products?filter=DecorativeItems" style="text-decoration: none; color: black;">Decorative Items <i class="fa-solid fa-crown"></i></a></div>
      </div>
      <div class="filter">
        <div><a href="/products?filter=Crockery" style="text-decoration: none; color: black;">Crockery <i class="fas fa-coffee"></i></a></div>
      </div>
      <div class="filter">
        <div><a href="/products?filter=RelegiousUtensils" style="text-decoration: none; color: black;">Relegious Utensils <i class="fa-solid fa-om"></i></a></div>
      </div>
      <div class="filter">
        <div><a href="/products?filter=Diya" style="text-decoration: none; color: black;">Diya <i class="fa-solid fa-fire-burner"></i></a></div>
      </div>
    </div>
  </div>
</div>
