<div class="filters d-none d-md-block bg-light">
<form id="selectionForm" method="get" action="/products">
  <div class="" style="padding: 1rem 3rem">
    <div class="m-2">
      <h5 data-toggle="collapse" data-target="#priceRangeSection" aria-expanded="true" aria-controls="priceRangeSection" style="cursor: pointer;">
        Price Range
      </h5>
      <div id="priceRangeSection" class="collapse show">
        <p style="font-size: 0.9rem">Total prices for 5 nights before taxes</p>
        <div class="price-range p-3">
          <input class="form-control" value="100" type="number" min="0" name="minPrice" id="minPrice" />
          <span class="text-secondary">To</span>
          <input class="form-control" value="10000" type="number" max="2200000" name="maxPrice" id="maxPrice" />
        </div>
      </div>
    </div>
    <div class="m-2">
      <h5 data-toggle="collapse" data-target="#typesOfPlaceSection" aria-expanded="true" aria-controls="typesOfPlaceSection" style="cursor: pointer;">
        Types of Place
      </h5>
      <div id="typesOfPlaceSection" class="collapse show">
        <p style="font-size: 0.9rem">Search products on the basis of type of products</p>
        <div class="category-of-place p-2">
          <div class="product-types">
            <label class="filter-image text-dark">
              <i class="fa-solid fa-monument"></i>
              <span>Statues</span>
              <input type="checkbox" class="m-0 opt" value="Statues" />
            </label>
            <label class="filter-image text-dark">
              <i class="fas fa-object-group"></i>
              <span>WallArts</span>
              <input type="checkbox" class="m-0 opt" value="WallArts" />
            </label>
            <label class="filter-image text-dark">
              <i class="fa-solid fa-diamond"></i>
              <span>Crystal Glass</span>
              <input type="checkbox" class="m-0 opt" value="CrystalGlass" />
            </label>
            <label class="filter-image text-dark">
              <i class="fa-solid fa-utensils"></i>
              <span>Steel and Copper Utensils</span>
              <input type="checkbox" class="m-0 opt" value="Utensils" />
            </label>
            <label class="filter-image text-dark">
              <i class="fa-sharp fa-solid fa-scroll"></i>
              <span>Antique Items</span>
              <input type="checkbox" class="m-0 opt" value="AntiqueItems" />
            </label>
            <label class="filter-image text-dark">
              <i class="fa-solid fa-crown"></i>
              <span>Decorative Items</span>
              <input type="checkbox" class="m-0 opt" value="DecorativeItems" />
            </label>
            <label class="filter-image text-dark">
              <i class="fas fa-coffee"></i>
              <span>Crockery</span>
              <input type="checkbox" class="m-0 opt" value="Crockery" />
            </label>
            <label class="filter-image text-dark">
              <i class="fa-solid fa-om"></i>
              <span>Religious Utensils</span>
              <input type="checkbox" class="m-0 opt" value="ReligiousUtensils" />
            </label>
            <label class="filter-image text-dark">
              <i class="fa-solid fa-fire-burner"></i>
              <span>Diya</span>
              <input type="checkbox" class="m-0 opt" value="Diya" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-outline-primary" style="color: purple; border-color: purple">
      Apply
    </button>
  </div>
</form>
</div>

<div class="d-block d-md-none">
  <br /><br />
  <button
    class="btn btn-outline-light mb-3"
    style="color: purple; border-color: purple"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasFilters"
    aria-controls="offcanvasFilters"
  >
    Filters
  </button>
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasFilters"
    aria-labelledby="offcanvasFiltersLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasFiltersLabel">Filters</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <!-- Filters content for offcanvas here -->
      <form id="selectionForm" method="get" action="/products">
        <div class="" style="padding: 1rem 3rem">
          <div class="m-2">
            <h5 data-toggle="collapse" data-target="#priceRangeSection" aria-expanded="true" aria-controls="priceRangeSection" style="cursor: pointer;">
              Price Range
            </h5>
            <div id="priceRangeSection" class="collapse show">
              <p style="font-size: 0.9rem">Total prices for 5 nights before taxes</p>
              <div class="price-range p-3">
                <input class="form-control" value="100" type="number" min="0" name="minPrice" id="minPrice" />
                <span class="text-secondary">To</span>
                <input class="form-control" value="10000" type="number" max="2200000" name="maxPrice" id="maxPrice" />
              </div>
            </div>
          </div>
          <div class="m-2">
            <h5 data-toggle="collapse" data-target="#typesOfPlaceSection" aria-expanded="true" aria-controls="typesOfPlaceSection" style="cursor: pointer;">
              Types of Place
            </h5>
            <div id="typesOfPlaceSection" class="collapse show">
              <p style="font-size: 0.9rem">Search products on the basis of type of products</p>
              <div class="category-of-place p-2">
                <div class="product-types">
                  <label class="filter-image text-dark">
                    <i class="fa-solid fa-monument"></i>
                    <span>Statues</span>
                    <input type="checkbox" class="m-0 opt" value="Statues" />
                  </label>
                  <label class="filter-image text-dark">
                    <i class="fas fa-object-group"></i>
                    <span>WallArts</span>
                    <input type="checkbox" class="m-0 opt" value="WallArts" />
                  </label>
                  <label class="filter-image text-dark">
                    <i class="fa-solid fa-diamond"></i>
                    <span>Crystal Glass</span>
                    <input type="checkbox" class="m-0 opt" value="CrystalGlass" />
                  </label>
                  <label class="filter-image text-dark">
                    <i class="fa-solid fa-utensils"></i>
                    <span>Steel and Copper Utensils</span>
                    <input type="checkbox" class="m-0 opt" value="Utensils" />
                  </label>
                  <label class="filter-image text-dark">
                    <i class="fa-sharp fa-solid fa-scroll"></i>
                    <span>Antique Items</span>
                    <input type="checkbox" class="m-0 opt" value="AntiqueItems" />
                  </label>
                  <label class="filter-image text-dark">
                    <i class="fa-solid fa-crown"></i>
                    <span>Decorative Items</span>
                    <input type="checkbox" class="m-0 opt" value="DecorativeItems" />
                  </label>
                  <label class="filter-image text-dark">
                    <i class="fas fa-coffee"></i>
                    <span>Crockery</span>
                    <input type="checkbox" class="m-0 opt" value="Crockery" />
                  </label>
                  <label class="filter-image text-dark">
                    <i class="fa-solid fa-om"></i>
                    <span>Religious Utensils</span>
                    <input type="checkbox" class="m-0 opt" value="ReligiousUtensils" />
                  </label>
                  <label class="filter-image text-dark">
                    <i class="fa-solid fa-fire-burner"></i>
                    <span>Diya</span>
                    <input type="checkbox" class="m-0 opt" value="Diya" />
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-primary" style="color: purple; border-color: purple">
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  // JavaScript to handle the form submission
  document
    .getElementById("selectionForm")
    .addEventListener("submit", function (e) {
      e.preventDefault();
      const form = e.target;
      const selectedCheckboxes = form.querySelectorAll(
        'input[type="checkbox"]:checked'
      );
      const selectedValues = Array.from(selectedCheckboxes).map(
        (checkbox) => checkbox.value
      );

      // Create a query string with the selected categories
      const params = new URLSearchParams();
      selectedValues.forEach((value) => params.append("productType", value));

      // Get the price range values
      const minPrice = form.querySelector("#minPrice").value;
      const maxPrice = form.querySelector("#maxPrice").value;
      if (minPrice !== "") params.append("minPrice", minPrice);
      if (maxPrice !== "") params.append("maxPrice", maxPrice);

      // Redirect to the /listings route with the selected values as query parameters
      window.location.href = `/products?${params.toString()}`;
    });
</script>
