<% layout("./layout/boilerPlate.ejs") %>

<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-monument"></i></div>
    <p>Statues</p>
  </div>
  <div class="filter">
    <div><i class="fas fa-object-group"></i></div>
    <p>Wall art</p>
  </div>
</div>
<hr />

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% allproducts.forEach(product => { %>
  <a href="/products/<%= product._id %>" class="product-link">
    <div class="card col product-card" style="width: 20rem">
      <img
        src="<%= product.image.url %>"
        class="card-img-top"
        alt="product Image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <h5 class="card-title"><%= product.title %></h5>
        <p class="card-text">
          &#8377; <%= product.price.toLocaleString("en-IN") %>
        </p>
      </div>
    </div>
  </a>
  <% }) %>
</div>
